ChangeLog
Fmb.pot
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
missing
stamp-h1
.*.swp
[Tt]hunar-*.tar.bz2
[Tt]hunar-*.tar.gz
core.*
core
*.core
*.desktop
# *.desktop.in
*.service
*.policy
fmb.appdata.xml
gtk-doc.make
FmbBulkRename
Fmb.spec
docs/.*.swp
docs/*.1
docs/design/.*.swp
docs/manual/.*.swp
docs/manual/*/.*.swp
docs/manual/*/Fmb.xml
docs/manual/*/html
docs/manual/*/*.stamp
docs/manual/*/images/.*.swp
docs/papers/.*.swp
docs/reference/.*.swp
docs/reference/fmbx/xml
docs/reference/fmbx/html
docs/reference/fmbx/*.stamp
docs/reference/fmbx/.*.swp
docs/reference/fmbx/*.bak
docs/reference/fmbx/fmbx-decl-list.txt
docs/reference/fmbx/fmbx-decl.txt
docs/reference/fmbx/fmbx-overrides.txt
docs/reference/fmbx/fmbx-undeclared.txt
docs/reference/fmbx/fmbx-undocumented.txt
docs/reference/fmbx/fmbx-unused.txt
docs/reference/fmbx/fmbx.args
docs/reference/fmbx/fmbx.hierarchy
docs/reference/fmbx/fmbx.interfaces
docs/reference/fmbx/fmbx.prerequisites
docs/reference/fmbx/fmbx.signals
docs/reference/fmbx/version.xml
docs/reference/fmbx/tmpl/*.bak
docs/reference/fmbx/tmpl/.*.swp
docs/reference/fmbx/tmpl/fmbx-unused.sgml
examples/.*.swp
examples/tex-open-terminal/.*.swp
icons/.*.swp
icons/16x16/.*.swp
icons/24x24/.*.swp
icons/48x48/.*.swp
icons/scalable/.*.swp
pixmaps/.*.swp
plugins/.*.swp
plugins/fmb-apr/.*.swp
plugins/fmb-sbr/.*.swp
plugins/fmb-sendto-email/fmb-sendto-email
plugins/fmb-sendto-email/fmb-sendto-email.desktop
plugins/fmb-sendto-email/.*.swp
plugins/fmb-tpa/fmb-tpa-bindings.h
plugins/fmb-tpa/fmb-tpa.desktop
plugins/fmb-tpa/fmb-tpa.desktop.in
plugins/fmb-tpa/.*.swp
plugins/fmb-tpa/fmb-tpa
plugins/fmb-uca/.*.swp
plugins/fmb-uca/uca.xml
po-doc/.*.swp
po-doc/.xml2po.mo
po/Makefile.in.in
po/.*.swp
po/*.gmo
po/*.mo
po/POTFILES
po/.intltool-merge-cache
po/stamp-*
tests/*.loT
tests/.*.swp
tests/core.*
tests/*.core
tests/data/.*.swp
fmb/*.loT
fmb/.*.swp
fmb/fmb
fmb/fmb-fallback-icon.c
fmb/fmb-thumbnail-cache-proxy.h
fmb/fmb-thumbnail-frame.c
fmb/fmb-thumbnailer-manager-proxy.h
fmb/fmb-thumbnailer-proxy.h
fmb/fmb-marshal.[ch]
fmb/Fmb
fmb/core.*
fmb/*.core
fmb/fmb-*-ui.h
fmb/stamp-fmb-*.*
fmb/fmb-dbus-service-infos.h
fmbx/.*.swp
fmbx/*.pc
fmbx/fmbx-alias*.[ch]
fmbx/fmbx-config.h
*.o
*.lo
*.la
.libs
.deps
fmb-vfs
config.h.in~
INSTALL
configure.ac
gtk-doc.m4
test-driver
m4/
